*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
}

html {
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	font-family: -var(--font-sans);
	-moz-tab-size: 4;
	tab-size: 4;
}

body {
	margin: 0;
	line-height: inherit;
}

hr {
	border-top-width: 1px;
	height: 0;
	color: inherit;
}

abbr:where([title]) {
	text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

a {
	color: inherit;
	text-decoration: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-size: 1em;
	font-family: -var(--font-mono);
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

table {
	border-color: inherit;
	border-collapse: collapse;
	text-indent: 0;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	padding: 0;
	color: inherit;
	font-weight: inherit;
	font-size: 100%;
	line-height: inherit;
	font-family: inherit;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	background-image: none;
	background-color: transparent;
}

:-moz-focusring {
	outline: auto;
}

:-moz-ui-invalid {
	box-shadow: none;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
}

legend {
	padding: 0;
}

ol,
ul,
menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

textarea {
	resize: vertical;
}

input::placeholder,
textarea::placeholder {
	opacity: 1;
	color: --color-var(--color-grey-400);
}

button,
[role="button"] {
	cursor: pointer;
}

:disabled {
	cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
}

img,
video {
	max-width: 100%;
	height: auto;
}

[hidden] {
	display: none;
}
