:root {
	--color-focus-primary: var(--color-blue-300);
	--color-focus-secondary: var(--color-blue-500);
	--color-background-primary: white;
	--color-background-secondary: var(--color-grey-50);
	--color-background-tertiary: white;
	--color-text-body: var(--color-grey-700);
	--color-text-label: var(--color-grey);
	--color-text-placeholder: var(--color-grey-400);
	--color-text-subdued: var(--color-grey-400);
	--color-border-primary: var(--color-grey-200);
	--color-border-secondary: var(--color-grey-600);
	--color-border-highlight: var(--color-accent-base);
	--color-accent-base: var(--color-orange-500);
	--color-accent-light: var(--color-orange-300);
	--color-accent-dark: var(--color-orange-700);
	--color-functional-error: var(--color-red);
	--color-functional-info: var(--color-yellow-300);
	--color-functional-success: var(--color-green);
	--shadow-drop: rgba(0,0,0,0.05) 0px 1px 2px 0px;
	--shadow-inset: rgba(0,0,0,0.05) 0px 2px 4px 0px inset;
	--block-border-radius: var(--radius-lg);
	--block-border-color: var(--color-border-primary);
	--block-border-width: 1px;
	--block-background: var(--color-background-tertiary);
	--uploadable-border-style-default: dashed;
	--uploadable-border-style-hover: solid;
	--uploadable-border-style-loaded: solid;
	--uploadable-border-color-hover: var(--color-border-primary);
	--uploadable-border-color-loaded: var(--color-functional-success);
	--uploadable-text-color: var(--color-text-subdued);
	--block_label-border-radius: var(--radius-lg);
	--block_label-border-style: solid;
	--block_label-border-color: var(--color-border-primary);
	--block_label-border-width: 1px;
	--block_label-icon-color: var(--color-text-label);
	--block_label-shadow: var(--shadow-drop);
	--block_label-background: var(--color-background-primary);
	--icon_button-icon-color-base: var(--color-text-label);
	--icon_button-icon-color-hover: var(--color-text-label);
	--icon_button-background-base: var(--color-background-primary);
	--icon_button-background-hover: var(--color-background-primary);
	--icon_button-border-radius: var(--radius-sm);
	--icon_button-border-color-base: white;
	--icon_button-border-color-hover: var(--color-border-primary);
	--icon_button-shadow: var(--shadow-drop);
	--input-text-style: normal;
	--input-text-color: var(--color-text-body);
	--input-border-radius: var(--radius-lg);
	--input-border-color-base: var(--color-border-primary);
	--input-border-color-hover: var(--color-border-primary);
	--input-border-color-focus: var(--color-focus-primary);
	--input-background-base: var(--color-background-primary);
	--input-background-hover: var(--color-background-primary);
	--input-background-focus: var(--color-background-primary);
	--input-shadow: var(--shadow-inset);
	--checkbox-shadow: var(--shadow-drop);
	--checkbox-border-radius: var(--radius-md);
	--checkbox-border-color-base: var(--color-border-primary);
	--checkbox-border-color-hover: var(--color-border-primary);
	--checkbox-border-color-focus: var(--color-focus-primary);
	--checkbox-border-color-selected: var(--color-focus-secondary);
	--checkbox-background-base: var(--color-background-primary);
	--checkbox-background-hover: var(--color-background-primary);
	--checkbox-background-focus: var(--color-background-primary);
	--checkbox-background-selected: var(--color-focus-secondary);
	--checkbox-label-border-radius: var(--radius-lg);
	--checkbox-label-border-color-base: var(--color-border-primary);
	--checkbox-label-border-color-hover: var(--color-border-primary);
	--checkbox-label-border-color-focus: var(--color-border-primary);
	--checkbox-label-background-base: ;
	--checkbox-label-background-hover: ;
	--checkbox-label-background-focus: var(--color-background-primary);
	--checkbox-label-shadow: var(--shadow-drop);
	--form-seperator-style: solid;
	--form-seperator-width: var(--border-width-default);
	--form-seperator-color: var(--color-border-primary);
	--button-large-radius: var(--radius-lg);
	--button-large-text-size: var(--scale-0);
	--button-large-text-weight: 600;
	--button-small-radius: var(--radius-md);
	--button-small-text-size: var(--scale-00);
	--button-small-text-weight: 400;
	--button-primary-border-color-base: orange;
	--button-primary-border-color-hover: orange;
	--button-primary-border-color-focus: orange;
	--button-primary-text-color-base: darkorange;
	--button-primary-text-color-hover: darkorange;
	--button-primary-text-color-focus: darkorange;
	--button-primary-background-base: ;
	--button-primary-background-hover: ;
	--button-primary-background-focus: ;
	--button-secondary-border-color-base: var(--color-border-primary);
	--button-secondary-border-color-hover: var(--color-border-primary);
	--button-secondary-border-color-focus: var(--color-border-primary);
	--button-secondary-text-color-base: var(--color-text-body);
	--button-secondary-text-color-hover: var(--color-text-body);
	--button-secondary-text-color-focus: var(--color-text-body);
	--button-secondary-background-base: ;
	--button-secondary-background-hover: ;
	--button-secondary-background-focus: ;
	--button-cancel-border-color-base: red;
	--button-cancel-border-color-hover: red;
	--button-cancel-border-color-focus: red;
	--button-cancel-text-color-base: crimson;
	--button-cancel-text-color-hover: crimson;
	--button-cancel-text-color-focus: crimson;
	--button-cancel-background-base: ;
	--button-cancel-background-hover: ;
	--button-cancel-background-focus: ;
	--highlighted_text-outer-border-radius: var(--radius-xs);
	--highlighted_text-inner-border-radius: var(--radius-xs);
	--gallery-thumb-border-radius: var(--radius-sm);
	--gallery-thumb-border-style-base: solid;
	--gallery-thumb-border-style-hover: solid;
	--gallery-thumb-border-style-focus: solid;
	--gallery-thumb-border-style-selected: solid;
	--gallery-thumb-border-color-base: var(--color-border-primary);
	--gallery-thumb-border-color-hover: var(--color-accent-light);
	--gallery-thumb-border-color-focus: var(--color-focus-secondary);
	--gallery-thumb-border-color-selected: var(--color-accent-base);
	--gallery-thumb-scale-base: 0.9;
	--gallery-thumb-scale-hover: 0.9;
	--gallery-thumb-scale-focus: 0.9;
	--gallery-thumb-scale-selected: 1;
	--chatbot-border-radius: var(--radius-3xl);
	--chatbot-border-width: 0;
	--chatbot-border-color-base: transparent;
	--chatbot-border-color-latest: transparent;
	--chatbot-user-background-base: ;
	--chatbot-user-background-latest: ;
	--chatbot-user-text-color-base: white;
	--chatbot-user-text-color-latest: white;
	--chatbot-bot-background-base: ;
	--chatbot-bot-background-latest: ;
	--chatbot-bot-text-color-base: white;
	--chatbot-bot-text-color-latest: white;

}

.dark {
	--color-focus-primary: var(--color-grey-700);
	--color-focus-secondary: var(--color-grey-600);
	--color-background-primary: var(--color-grey-950);
	--color-background-secondary: var(--color-grey-900);
	--color-background-tertiary: var(--color-grey-800);
	--color-text-body: var(--color-grey-300);
	--color-text-label: var(--color-grey-200);
	--color-text-placeholder: var(--color-grey);
	--color-text-subdued: var(--color-grey-400);
	--color-border-primary: var(--color-grey-700);
	--color-border-secondary: var(--color-grey-600);
	--color-border-highlight: var(--color-accent-base);
	--color-accent-base: var(--color-orange-500);
	--color-accent-light: var(--color-orange-300);
	--color-accent-dark: var(--color-orange-700);
	--color-functional-error: var(--color-red);
	--color-functional-info: var(--color-yellow-300);
	--color-functional-success: var(--color-green);
	--block-border-color: var(--color-border-primary);
	--block-background: var(--color-background-tertiary);
	--uploadable-border-color-hover: var(--color-border-primary);
	--uploadable-border-color-loaded: var(--color-functional-success);
	--uploadable-text-color: var(--color-text-subdued);
	--block_label-border-color: var(--color-border-primary);
	--block_label-icon-color: var(--color-text-label);
	--block_label-shadow: var(--shadow-drop);
	--block_label-background: var(--color-background-secondary);
	--icon_button-icon-color-base: var(--color-text-label);
	--icon_button-icon-color-hover: var(--color-text-label);
	--icon_button-background-base: var(--color-background-primary);
	--icon_button-background-hover: var(--color-background-primary);
	--icon_button-border-color-base: var(--color-background-primary);
	--icon_button-border-color-hover: var(--color-border-secondary);
	--input-text-color: var(--color-text-body);
	--input-border-color-base: var(--color-border-primary);
	--input-border-color-hover: var(--color-border-primary);
	--input-border-color-focus: var(--color-focus-primary);
	--input-background-base: var(--color-background-primary);
	--input-background-hover: var(--color-background-primary);
	--input-background-focus: var(--color-background-primary);
	--input-shadow: var(--shadow-inset);
	--checkbox-border-color-base: var(--color-border-primary);
	--checkbox-border-color-hover: var(--color-border-primary);
	--checkbox-border-color-focus: var(--color-focus-primary);
	--checkbox-border-color-selected: var(--color-focus-secondary);
	--checkbox-background-base: var(--color-background-primary);
	--checkbox-background-hover: var(--color-background-primary);
	--checkbox-background-focus: var(--color-background-primary);
	--checkbox-background-selected: var(--color-focus-secondary);
	--checkbox-label-border-color-base: var(--color-border-primary);
	--checkbox-label-border-color-hover: var(--color-border-primary);
	--checkbox-label-border-color-focus: var(--color-border-primary);
	--checkbox-label-background-base: ;
	--checkbox-label-background-hover: ;
	--checkbox-label-background-focus: var(--color-background-primary);
	--form-seperator-color: var(--color-border-primary);
	--button-primary-border-color-base: orange;
	--button-primary-border-color-hover: orange;
	--button-primary-border-color-focus: orange;
	--button-primary-text-color-base: white;
	--button-primary-text-color-hover: white;
	--button-primary-text-color-focus: white;
	--button-primary-background-base: ;
	--button-primary-background-hover: ;
	--button-primary-background-focus: ;
	--button-secondary-border-color-base: gray;
	--button-secondary-border-color-hover: gray;
	--button-secondary-border-color-focus: gray;
	--button-secondary-text-color-base: white;
	--button-secondary-text-color-hover: white;
	--button-secondary-text-color-focus: white;
	--button-secondary-background-base: ;
	--button-secondary-background-hover: ;
	--button-secondary-background-focus: ;
	--button-cancel-border-color-base: red;
	--button-cancel-border-color-hover: red;
	--button-cancel-border-color-focus: red;
	--button-cancel-text-color-base: white;
	--button-cancel-text-color-hover: white;
	--button-cancel-text-color-focus: white;
	--button-cancel-background-base: ;
	--button-cancel-background-hover: ;
	--button-cancel-background-focus: ;
	--gallery-thumb-border-color-base: var(--color-border-primary);
	--gallery-thumb-border-color-hover: var(--color-accent-light);
	--gallery-thumb-border-color-focus: var(--color-focus-secondary);
	--gallery-thumb-border-color-selected: var(--color-accent-base);
	--chatbot-border-border-color-base: transparent;
	--chatbot-border-border-color-latest: transparent;
	--chatbot-user-background-base: ;
	--chatbot-user-background-latest: ;
	--chatbot-user-text-color-base: white;
	--chatbot-user-text-color-latest: white;
	--chatbot-bot-background-base: ;
	--chatbot-bot-background-latest: ;
	--chatbot-bot-text-color-base: white;
	--chatbot-bot-text-color-latest: white;
	
}
