:root {
	--color-focus-primary: var(--color-blue-300);
	--color-focus-secondary: var(--color-blue-500);
	--color-focus-ring: rgb(191 219 254 / 0.5);
	--color-background-primary: white;
	--color-background-secondary: var(--color-grey-50);
	--color-background-tertiary: white;
	--color-text-body: var(--color-grey-800);
	--color-text-label: var(--color-grey);
	--color-text-placeholder: var(--color-grey-400);
	--color-text-subdued: var(--color-grey-400);
	--color-text-link: var(--color-blue-600);
	--color-border-primary: var(--color-grey-200);
	--color-border-secondary: var(--color-grey-600);
	--color-border-highlight: var(--color-accent-base);
	--color-accent-base: var(--color-orange-500);
	--color-accent-light: var(--color-orange-300);
	--color-accent-dark: var(--color-orange-700);
	--color-functional-error: var(--color-red);
	--color-functional-info: var(--color-yellow-300);
	--color-functional-success: var(--color-green);
	--shadow-drop: rgba(0,0,0,0.05) 0px 1px 2px 0px;
	--shadow-drop-lg: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-inset: rgba(0,0,0,0.05) 0px 2px 4px 0px inset;
	--block-border-radius: var(--radius-lg);
	--block-border-color: var(--color-border-primary);
	--block-border-width: 1px;
	--block-background: var(--color-background-tertiary);
	--uploadable-border-style-default: dashed;
	--uploadable-border-style-hover: solid;
	--uploadable-border-style-loaded: solid;
	--uploadable-border-color-hover: var(--color-border-primary);
	--uploadable-border-color-loaded: var(--color-functional-success);
	--uploadable-text-color: var(--color-text-subdued);
	--block_label-border-radius: var(--radius-lg);
	--block_label-border-style: solid;
	--block_label-border-color: var(--color-border-primary);
	--block_label-border-width: 1px;
	--block_label-icon-color: var(--color-text-label);
	--block_label-shadow: var(--shadow-drop);
	--block_label-background: var(--color-background-primary);
	--icon_button-icon-color-base: var(--color-text-label);
	--icon_button-icon-color-hover: var(--color-text-label);
	--icon_button-background-base: var(--color-background-primary);
	--icon_button-background-hover: var(--color-background-primary);
	--icon_button-border-radius: var(--radius-sm);
	--icon_button-border-color-base: var(--color-background-primary);
	--icon_button-border-color-hover: var(--color-border-primary);
	--icon_button-shadow: var(--shadow-drop);
	--input-text-style: normal;
	--input-text-color: var(--color-text-body);
	--input-border-radius: var(--radius-lg);
	--input-border-color-base: var(--color-border-primary);
	--input-border-color-hover: var(--color-border-primary);
	--input-border-color-focus: var(--color-focus-primary);
	--input-background-base: var(--color-background-tertiary);
	--input-background-hover: var(--color-background-tertiary);
	--input-background-focus: var(--color-focus-tertiary);
	--input-shadow: var(--shadow-inset);
	--checkbox-shadow: var(--shadow-drop);
	--checkbox-border-radius: var(--radius-sm);
	--checkbox-border-color-base: var(--color-grey-300);
	--checkbox-border-color-hover: var(--color-grey-300);
	--checkbox-border-color-focus: var(--color-grey-300);
	--checkbox-border-color-selected: transparent;
	--checkbox-background-base: var(--color-background-primary);
	--checkbox-background-hover: var(--color-background-primary);
	--checkbox-background-focus: var(--color-background-primary);
	--checkbox-background-selected: var(--color-blue-600);
	--checkbox-label-border-radius: var(--radius-lg);
	--checkbox-label-border-color-base: var(--color-border-primary);
	--checkbox-label-border-color-hover: var(--color-border-primary);
	--checkbox-label-border-color-focus: var(--color-focus-secondary);
	--checkbox-label-background-base: linear-gradient(to top, var(--color-grey-50), white);
	--checkbox-label-background-hover: linear-gradient(to top, var(--color-grey-100), white);
	--checkbox-label-background-focus: linear-gradient(to top, var(--color-grey-100), white);
	--checkbox-label-shadow: var(--shadow-drop);
	--form-seperator-style: solid;
	--form-seperator-width: var(--border-width-default);
	--form-seperator-color: var(--color-border-primary);
	--button-large-radius: var(--radius-lg);
	--button-large-text-size: var(--scale-0);
	--button-large-text-weight: 600;
	--button-small-radius: var(--radius-md);
	--button-small-text-size: var(--scale-00);
	--button-small-text-weight: 400;
	--button-primary-border-color-base: var(--color-orange-200);
	--button-primary-border-color-hover: var(--color-orange-200);
	--button-primary-border-color-focus: var(--color-orange-200);
	--button-primary-text-color-base: var(--color-orange-600);
	--button-primary-text-color-hover: var(--color-orange-600);
	--button-primary-text-color-focus: var(--color-orange-600);
	--button-primary-background-base: linear-gradient(to bottom right, rgb(255 216 180 / 0.7), rgb(255 176 102 / 0.8));
	--button-primary-background-hover: linear-gradient(to bottom right, rgb(255 216 180 / 0.7), rgb(255 216 180 / 0.9));
	--button-primary-background-focus: linear-gradient(to bottom right, rgb(255 216 180 / 0.7), rgb(255 216 180 / 0.9));
	--button-secondary-border-color-base: var(--color-grey-200);
	--button-secondary-border-color-hover: var(--color-grey-200);
	--button-secondary-border-color-focus: var(--color-grey-200);
	--button-secondary-text-color-base: var(--border-grey-700);
	--button-secondary-text-color-hover: var(--border-grey-700);
	--button-secondary-text-color-focus: var(--border-grey-700);
	--button-secondary-background-base: linear-gradient(to bottom right, rgb(243 244 246 / .7), rgb(229 231 235 / .8));
	--button-secondary-background-hover: linear-gradient(to bottom right, rgb(243 244 246 / .7), rgb(243 244 246 / .9));
	--button-secondary-background-focus: linear-gradient(to bottom right, rgb(243 244 246 / .7), rgb(243 244 246 / .9));
	--button-cancel-border-color-base: var(--color-red-200);
	--button-cancel-border-color-hover: var(--color-red-200);
	--button-cancel-border-color-focus: var(--color-red-200);
	--button-cancel-text-color-base: var(--color-red-600);
	--button-cancel-text-color-hover: var(--color-red-600);
	--button-cancel-text-color-focus: var(--color-red-600);
	--button-cancel-background-base: linear-gradient(to bottom right, rgb(254 202 202 / 0.7), rgb(252 165 165 / 0.8));
	--button-cancel-background-hover: linear-gradient(to bottom right, rgb(254 202 202 / 0.7), rgb(254 202 202 / 0.9));
	--button-cancel-background-focus: linear-gradient(to bottom right, rgb(254 202 202 / 0.7), rgb(254 202 202 / 0.9));
	--highlighted_text-outer-border-radius: var(--radius-xs);
	--highlighted_text-inner-border-radius: var(--radius-xs);
	--gallery-label-background-base: var(--color-grey-50);
	--gallery-label-background-hover: var(--color-grey-50);
	--gallery-label-border-radius: var(--radius-lg);
	--gallery-label-border-color-base: var(--color-border-primary);
	--gallery-label-border-color-hover: var(--color-border-primary);
	--gallery-thumb-background-base: var(--color-grey-100);
	--gallery-thumb-background-hover: white;
	--gallery-thumb-border-radius: var(--radius-sm);
	--gallery-thumb-border-style-base: solid;
	--gallery-thumb-border-style-hover: solid;
	--gallery-thumb-border-style-focus: solid;
	--gallery-thumb-border-style-selected: solid;
	--gallery-thumb-border-color-base: var(--color-border-primary);
	--gallery-thumb-border-color-hover: var(--color-accent-light);
	--gallery-thumb-border-color-focus: var(--color-focus-secondary);
	--gallery-thumb-border-color-selected: var(--color-accent-base);
	--gallery-thumb-scale-base: 0.9;
	--gallery-thumb-scale-hover: 0.9;
	--gallery-thumb-scale-focus: 0.9;
	--gallery-thumb-scale-selected: 1;
	--chatbot-border-radius: var(--radius-3xl);
	--chatbot-border-width: 0;
	--chatbot-user-background-base: var(--color-orange-400);
	--chatbot-user-background-latest: var(--color-orange-400);
	--chatbot-user-text-color-base: white;
	--chatbot-user-text-color-latest: white;
	--chatbot-user-border-color-base: transparent;
	--chatbot-user-border-color-latest: transparent;
	--chatbot-bot-background-base: var(--color-grey-400);
	--chatbot-bot-background-latest: var(--color-grey-400);
	--chatbot-bot-text-color-base: white;
	--chatbot-bot-text-color-latest: white;
	--chatbot-bot-border-color-base: transparent;
	--chatbot-bot-border-color-latest: transparent;

}

.dark {
	--color-focus-primary: var(--color-grey-700);
	--color-focus-secondary: var(--color-grey-600);
	--color-focus-ring: rgb(55 65 81);
	--color-background-primary: var(--color-grey-950);
	--color-background-secondary: var(--color-grey-900);
	--color-background-tertiary: var(--color-grey-800);
	--color-text-body: var(--color-grey-300);
	--color-text-label: var(--color-grey-200);
	--color-text-placeholder: var(--color-grey);
	--color-text-subdued: var(--color-grey-400);
	--color-text-link: var(--color-blue-300);
	--color-border-primary: var(--color-grey-700);
	--color-border-secondary: var(--color-grey-600);
	--color-border-highlight: var(--color-accent-base);
	--color-accent-base: var(--color-orange-500);
	--color-accent-light: var(--color-orange-300);
	--color-accent-dark: var(--color-orange-700);
	--color-functional-error: var(--color-red);
	--color-functional-info: var(--color-yellow-300);
	--color-functional-success: var(--color-green);
	--block-border-color: var(--color-border-primary);
	--block-background: var(--color-background-tertiary);
	--uploadable-border-color-hover: var(--color-border-primary);
	--uploadable-border-color-loaded: var(--color-functional-success);
	--uploadable-text-color: var(--color-text-subdued);
	--block_label-border-color: var(--color-border-primary);
	--block_label-icon-color: var(--color-text-label);
	--block_label-shadow: var(--shadow-drop);
	--block_label-background: var(--color-background-secondary);
	--icon_button-icon-color-base: var(--color-text-label);
	--icon_button-icon-color-hover: var(--color-text-label);
	--icon_button-background-base: var(--color-background-primary);
	--icon_button-background-hover: var(--color-background-primary);
	--icon_button-border-color-base: var(--color-background-primary);
	--icon_button-border-color-hover: var(--color-border-secondary);
	--input-text-color: var(--color-text-body);
	--input-border-color-base: var(--color-border-primary);
	--input-border-color-hover: var(--color-border-primary);
	--input-border-color-focus: var(--color-focus-primary);
	--input-background-base: var(--color-background-tertiary);
	--input-background-hover: var(--color-background-tertiary);
	--input-background-focus: var(--color-background-tertiary);
	--input-shadow: var(--shadow-inset);
	--checkbox-border-color-base: var(--color-border-primary);
	--checkbox-border-color-hover: var(--color-border-primary);
	--checkbox-border-color-focus: var(--color-focus-primary);
	--checkbox-border-color-selected: transparent;
	--checkbox-background-base: var(--color-background-primary);
	--checkbox-background-hover: var(--color-background-primary);
	--checkbox-background-focus: var(--color-background-primary);
	--checkbox-background-selected: var(--color-blue-600);
	--checkbox-label-border-color-base: var(--color-border-primary);
	--checkbox-label-border-color-hover: var(--color-border-primary);
	--checkbox-label-border-color-focus: var(--color-border-secondary);
	--checkbox-label-background-base: linear-gradient(to top, var(--color-grey-900), var(--color-grey-800));
	--checkbox-label-background-hover: linear-gradient(to top, var(--color-grey-900), var(--color-grey-800));
	--checkbox-label-background-focus: linear-gradient(to top, var(--color-grey-900), var(--color-grey-800));
	--form-seperator-color: var(--color-border-primary);
	--button-primary-border-color-base: var(--color-orange-600);
	--button-primary-border-color-hover: var(--color-orange-600);
	--button-primary-border-color-focus: var(--color-orange-600);
	--button-primary-text-color-base: white;
	--button-primary-text-color-hover: white;
	--button-primary-text-color-focus: white;
	--button-primary-background-base: linear-gradient(to bottom right, var(--color-orange-700), var(--color-orange-700));
	--button-primary-background-hover: linear-gradient(to bottom right, var(--color-orange-700), var(--color-orange-500));
	--button-primary-background-focus: linear-gradient(to bottom right, var(--color-orange-700), var(--color-orange-500));
	--button-secondary-border-color-base: var(--color-grey-600);
	--button-secondary-border-color-hover: var(--color-grey-600);
	--button-secondary-border-color-focus: var(--color-grey-600);
	--button-secondary-text-color-base: white;
	--button-secondary-text-color-hover: white;
	--button-secondary-text-color-focus: white;
	--button-secondary-background-base: linear-gradient(to bottom right, var(--color-grey-600), var(--color-grey-700));
	--button-secondary-background-hover: linear-gradient(to bottom right, var(--color-grey-600), var(--color-grey-600));
	--button-secondary-background-focus: linear-gradient(to bottom right, var(--color-grey-600), var(--color-grey-600));
	--button-cancel-border-color-base: var(--color-red-600);
	--button-cancel-border-color-hover: var(--color-red-600);
	--button-cancel-border-color-focus: var(--color-red-600);
	--button-cancel-text-color-base: white;
	--button-cancel-text-color-hover: white;
	--button-cancel-text-color-focus: white;
	--button-cancel-background-base: linear-gradient(to bottom right, var(--color-red-700), var(--color-red-700));
	--button-cancel-background-focus: linear-gradient(to bottom right, var(--color-red-700), var(--color-red-500));
	--button-cancel-background-hover: linear-gradient(to bottom right, var(--color-red-700), var(--color-red-500));
	--gallery-label-background-base: var(--color-grey-50);
	--gallery-label-background-hover: var(--color-grey-50);
	--gallery-label-border-color-base: var(--color-border-primary);
	--gallery-label-border-color-hover: var(--color-border-primary);
	--gallery-thumb-background-base: var(--color-grey-900);
	--gallery-thumb-background-hover: var(--color-grey-900);
	--gallery-thumb-border-color-base: var(--color-border-primary);
	--gallery-thumb-border-color-hover: var(--color-accent-base);
	--gallery-thumb-border-color-focus: var(--color-blue-500);
	--gallery-thumb-border-color-selected: var(--color-accent-base);
	--chatbot-border-border-color-base: transparent;
	--chatbot-border-border-color-latest: transparent;
	--chatbot-user-background-base: ;
	--chatbot-user-background-latest: ;
	--chatbot-user-text-color-base: white;
	--chatbot-user-text-color-latest: white;
	--chatbot-bot-background-base: ;
	--chatbot-bot-background-latest: ;
	--chatbot-bot-text-color-base: white;
	--chatbot-bot-text-color-latest: white;
	
}
