:root {
	--spacing-1: 0px;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing-7: 1.75rem;
	--spacing-8: 2rem;
	--border-radius-sm: 0.125rem;
	--border-radius-md: 0.375rem;
	--border-radius-lg: 0.5rem;
	--border-radius-full: 9999px;
	--border-radius-none: 0px;
	--border-width-0: 0px;
	--border-width-1: 1px;
	--border-width-2: 2px;
	--color-background-primary: #111827;
	--color-background-secondary: #1f2937;
	--color-text-body: #d1d5db;
	--color-text-label: #d1d5db;
	--color-text-blocklabel: #6b7280;
	--color-text-placeholder: #6b7280;
	--color-text-subdued: #9ca3af;
	--color-border-primary: #e5e7eb;
	--color-border-secondary: #4b5563;
	--color-border-highlight: var(--color-accent-base);
	--color-accent-base: #f97316;
	--color-accent-light: #fed7aa;
	--color-accent-dark: #9a3412;
	--color-button-default: ;
	--color-button-cta: var(--color-accent-base);
	--color-button-warning: var(--color-functional-error);
	--color-functional-error: ;
	--color-functional-info: ;
	--color-functional-success: ;
	--block-border-radius: var(--border-radius-sm);
	--block-border-style: solid;
	--block-border-color: var(--color-border-primary);
	--block-border-width: var(--border-width-1);
	--block-background-color: var(--color-background-secondary);
	--uploadable-border-style-default: dashed;
	--uploadable-border-style-hover: solid;
	--uploadable-border-style-loaded: solid;
	--uploadable-border-color-hover: var(--color-border-primary);
	--uploadable-border-color-loaded: var(--color-functional-success);
	--uploadable-text-family: var(--text-family-primary);
	--uploadable-text-size: var(--text-size-xl);
	--uploadable-text-style: normal;
	--uploadable-text-color: var(--colors-text-subdued);
	--block_label-border-radius: var(--border-radius-sm);
	--block_label-border-style: solid;
	--block_label-border-color: var(--color-border-primary);
	--block_label-border-width: var(--border-width-1);
	--block_label-background-color: var(--color-background-primary);
	--block_label-text-family: var(--text-family-primary);
	--block_label-text-size: var(--text-size-xs);
	--block_label-text-style: normal;
	--block_label-text-color: ;
	--icon_button-icon-color-base: ;
	--icon_button-icon-color-hover: ;
	--icon_button-bacground-color-base: ;
	--icon_button-bacground-color-hover: ;
	--icon_button-border-radius: ;
	--icon_button-border-style-base: ;
	--icon_button-border-style-hover: ;
	--icon_button-border-color-base: ;
	--icon_button-border-color-hover: ;
	--icon_button-border-width: ;
	--input-text-family: ;
	--input-text-size: ;
	--input-text-style: ;
	--input-text-color: ;
	--input-label-text-family: ;
	--input-label-text-size: ;
	--input-label-text-style: ;
	--input-label-text-color: ;
	--input-border-radius: ;
	--input-border-style-base: ;
	--input-border-style-hover: ;
	--input-border-style-focus: ;
	--input-border-color-base: ;
	--input-border-color-hover: ;
	--input-border-color-focus: ;
	--input-border-width: ;
	--input-background-color-base: ;
	--input-background-color-hover: ;
	--input-background-color-focus: ;
	--checkbox-focus-ring-width-focus: ;
	--checkbox-focus-ring-width-active: ;
	--checkbox-focus-ring-color-focus: ;
	--checkbox-focus-ring-color-active: ;
	--checkbox-border-radius: ;
	--checkbox-border-style-base: ;
	--checkbox-border-style-hover: ;
	--checkbox-border-style-focus: ;
	--checkbox-border-color-base: ;
	--checkbox-border-color-hover: ;
	--checkbox-border-color-focus: ;
	--checkbox-border-width: ;
	--checkbox-background-color-base: ;
	--checkbox-background-color-hover: ;
	--checkbox-background-color-focus: ;
	--checkbox-label-border-radius: ;
	--checkbox-label-border-style-base: ;
	--checkbox-label-border-style-hover: ;
	--checkbox-label-border-style-focus: ;
	--checkbox-label-border-color-base: ;
	--checkbox-label-border-color-hover: ;
	--checkbox-label-border-color-focus: ;
	--checkbox-label-border-width: ;
	--checkbox-label-background-color-base: ;
	--checkbox-label-background-color-hover: ;
	--checkbox-label-background-color-focus: ;
	--form-seperator-border-style: ;
	--form-seperator-border-width: ;
	--form-seperator-border-color: ;
	--accordion-text-family: ;
	--accordion-text-size: ;
	--accordion-text-style: ;
	--accordion-text-color: ;
	--accordion-text-weight: ;
	--button-primary-border-radius: ;
	--button-primary-border-width: ;
	--button-primary-border-style-base: ;
	--button-primary-border-style-hover: ;
	--button-primary-border-style-focus: ;
	--button-primary-border-color-base: ;
	--button-primary-border-color-hover: ;
	--button-primary-border-color-focus: ;
	--button-primary-text-family: ;
	--button-primary-text-size: ;
	--button-primary-text-style-base: ;
	--button-primary-text-style-hover: ;
	--button-primary-text-style-focus: ;
	--button-primary-text-color-base: ;
	--button-primary-text-color-hover: ;
	--button-primary-text-color-focus: ;
	--button-primary-text-weight-base: ;
	--button-primary-text-weight-hover: ;
	--button-primary-text-weight-focus: ;
	--button-primary-background-color-base: ;
	--button-primary-background-color-hover: ;
	--button-primary-background-color-focus: ;
	--button-primary-focus-ring-width-hover: ;
	--button-primary-focus-ring-width-focus: ;
	--button-primary-focus-ring-color-hover: ;
	--button-primary-focus-ring-color-focus: ;
	--button-secondary-border-radius: ;
	--button-secondary-border-width: ;
	--button-secondary-border-style-base: ;
	--button-secondary-border-style-hover: ;
	--button-secondary-border-style-focus: ;
	--button-secondary-border-color-base: ;
	--button-secondary-border-color-hover: ;
	--button-secondary-border-color-focus: ;
	--button-secondary-text-family: ;
	--button-secondary-text-size: ;
	--button-secondary-text-style-base: ;
	--button-secondary-text-style-hover: ;
	--button-secondary-text-style-focus: ;
	--button-secondary-text-color-base: ;
	--button-secondary-text-color-hover: ;
	--button-secondary-text-color-focus: ;
	--button-secondary-text-weight-base: ;
	--button-secondary-text-weight-hover: ;
	--button-secondary-text-weight-focus: ;
	--button-secondary-background-color-base: ;
	--button-secondary-background-color-hover: ;
	--button-secondary-background-color-focus: ;
	--button-secondary-focus-ring-width-hover: ;
	--button-secondary-focus-ring-width-focus: ;
	--button-secondary-focus-ring-color-hover: ;
	--button-secondary-focus-ring-color-focus: ;
	--highlighted_text-outer-border-radius: ;
	--highlighted_text-inner-border-radius: ;
	--gallery-thumb-width: ;
	--gallery-thumb-border-radius: ;
	--gallery-thumb-border-width: ;
	--gallery-thumb-border-style-base: ;
	--gallery-thumb-border-style-hover: ;
	--gallery-thumb-border-style-focus: ;
	--gallery-thumb-border-style-selected: ;
	--gallery-thumb-border-color-base: ;
	--gallery-thumb-border-color-hover: ;
	--gallery-thumb-border-color-focus: ;
	--gallery-thumb-border-color-selected: ;
	--gallery-thumb-scale-base: ;
	--gallery-thumb-scale-hover: ;
	--gallery-thumb-scale-focus: ;
	--gallery-thumb-scale-selected: ;
	--chatbot-border-border-radius: ;
	--chatbot-border-border-width: ;
	--chatbot-border-border-style-base: ;
	--chatbot-border-border-style-latest: ;
	--chatbot-border-border-color-base: ;
	--chatbot-border-border-color-latest: ;
	--chatbot-user-background-color-base: ;
	--chatbot-user-background-color-latest: ;
	--chatbot-user-text-color-base: ;
	--chatbot-user-text-color-latest: ;
	--chatbot-bot-background-color-base: ;
	--chatbot-bot-background-color-latest: ;
	--chatbot-bot-text-color-base: ;
	--chatbot-bot-text-color-latest: ;

}