.gr-box {
	@apply text-gray-700 
	text-sm 
	relative 
	rounded-lg 
	bg-white 
	shadow-sm
	dark:bg-gray-800;
}

.gr-box-unrounded {
	@apply text-gray-700 
	text-sm 
	relative 
	bg-white 
	shadow-sm
	dark:bg-gray-800;
}

.gr-input {
	@apply focus:border-blue-300 
	focus:ring 
	focus:ring-blue-200 
	focus:ring-opacity-50 
	placeholder:text-gray-400
	checked:shadow-inner
	border-gray-200
	dark:text-gray-200
	dark:focus:ring-0
	dark:focus:border-gray-600
	dark:placeholder:text-gray-500
	dark:border-gray-700;
}

.gr-label {
	@apply text-gray-600 text-sm mb-2 block;
}

.gr-panel {
	@apply py-2.5 px-3;
}

.gr-box-sm {
	@apply space-x-2 border py-1.5 px-3;
}

.gr-compact {
	@apply gap-0 !rounded-lg overflow-clip border border-gray-200 dark:border-gray-700 items-stretch;
}

.gr-text-input {
	@apply p-2.5 shadow-inner disabled:shadow-none;
}

.gr-check-radio {
	@apply border-gray-300 text-blue-600 disabled:text-gray-400 disabled:!cursor-not-allowed shadow-sm focus:border-blue-300 focus:ring focus:ring-offset-0 focus:ring-blue-200 dark:focus:ring-gray-700 focus:ring-opacity-50 dark:bg-gray-900 dark:border-gray-700 dark:checked:bg-blue-600;
}

.gr-checkbox {
	@apply rounded;
}

.gr-input-label {
	@apply bg-gradient-to-t from-gray-50 to-white hover:from-gray-100 dark:from-gray-900 dark:to-gray-800 transition;
}

.gr-radio {
	@apply rounded-full;
}

.gr-button {
	@apply border inline-flex items-center justify-center shadow-sm hover:shadow bg-gradient-to-br bg-white dark:bg-gray-700 dark:border-gray-600 active:shadow-inner text-center px-2 py-0.5 rounded text-sm;
}

.gr-button-primary {
	@apply from-orange-200/70 to-orange-300/80 hover:to-orange-200/90 text-orange-600 border-orange-200
	  	 dark:from-orange-700 dark:to-orange-700 dark:hover:to-orange-500 dark:text-white dark:border-orange-600;
}

.gr-button-secondary {
	@apply from-gray-100/70 to-gray-200/80 hover:to-gray-100/90 text-gray-700 border-gray-200
	dark:from-gray-600 dark:to-gray-700 dark:hover:to-gray-600 dark:text-white dark:border-gray-600;
}

.gr-button-sm {
	@apply px-3 py-1 text-sm rounded-md;
}

.gr-button-lg {
	@apply py-2 px-4 font-semibold rounded-lg text-base;
}

.gr-samples-table {
	@apply w-full;

	img.gr-sample-image,
	video.gr-sample-video {
		@apply object-cover h-20 w-20;
	}
}

.gr-samples-gallery {
	@apply flex gap-2 flex-wrap;

	img.gr-sample-image,
	video.gr-sample-video {
		@apply object-cover max-h-20;
	}

	.gr-sample-textbox,
	.gr-sample-slider,
	.gr-sample-checkbox,
	.gr-sample-checkboxgroup,
	.gr-sample-file,
	.gr-sample-number,
	.gr-sample-audio,
	.gr-sample-3d {
		@apply flex items-center border cursor-pointer px-2 py-1.5 rounded-lg bg-white hover:bg-gray-50 text-sm text-left dark:hover:bg-gray-800 dark:bg-transparent;
	}

	.gr-sample-dataframe {
		@apply overflow-hidden items-center border border-collapse cursor-pointer px-2 py-1.5 rounded-lg bg-white hover:bg-gray-50 text-sm text-left dark:hover:bg-gray-800 dark:bg-transparent;
	}
}

img.gr-sample-image,
video.gr-sample-video {
	@apply flex-none rounded-lg max-w-none border-2 border-gray-200 hover:border-orange-400 group-hover:border-orange-400 dark:border-gray-700 dark:hover:border-orange-700 dark:group-hover:border-orange-700;
}
