# Don't forget to run bash scripts/create_test_requirements.sh and scripts/create_test_requirements-37.sh from unix or wsl when you update this file.
IPython
altair
asyncio
black
boto3
coverage
fastapi>=0.87.0
flake8
httpx
huggingface_hub
isort
pydantic
pytest
pytest-asyncio
pytest-cov
respx
scikit-image
shap
torch
tqdm
transformers
vega_datasets
