# Don't forget to run bash scripts/create_test_requirements.sh from unix or wsl when you update this file.
asyncio
boto3
IPython
comet_ml
coverage
torch
transformers
scikit-image
shap
pytest
wandb
huggingface_hub>=0.13.0
pytest-cov
pytest-asyncio
black==22.6.0
isort
flake8==4.0.1
httpx
pydantic
respx
fastapi>=0.87.0
altair
vega_datasets
tqdm