body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
textarea, select, input, button {
  outline: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover h2 {
  text-decoration: underline;
}

nav {
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
}
main, nav {
	padding: 10px 45px;
}
.secondary {
  color: #999999;
}
#logo {
  position: absolute;
  left: 40px;
}
#search {
  font-size: 22px;
  padding: 0 4px;
  width: 500px;
  border: solid 1px black;
  border-radius: 4px 0 0 4px;
  border-right: none;
}
#search::placeholder {
  font-style: italic;
}
#search_icon {
  background-color: white;
  border: solid 1px black;
  border-left: none;
  border-radius: 0 4px 4px 0;  
  padding: 0 9px;
  display: flex;
  align-items: center;
} 
#search, #search_icon {
  height: 36px;	
  box-sizing: border-box;
}
#filter_bar {
  text-transform: uppercase;	
  font-weight: bold;
  margin-top: 10px;
}
.tag {
  font-weight: normal;
  padding: 4px 10px;
  margin: 0px 4px;
  background-color: #EEEEEE;
  border-radius: 3px;
  text-transform: uppercase;
}
.result {
  margin: 8px 0 20px;
}
.result h2 {
  margin-top: 0;
}
.result, .images {
	display: flex;
}
.result .images img {
  height: 200px;
  margin-left: 16px;
}

