.label, .confidence {
  overflow: hidden;
  white-space: nowrap;
  height: 27px;
  margin-bottom: 4px;
  padding: 2px;
}
.label {
  text-overflow: ellipsis;
  text-align: right;
}
.confidence {
  text-overflow: clip;
  padding-left: 6px;
  padding-right: 6px;
}
