venv
dist/
.eggs/
gradio.egg-info/*
!gradio.egg-info/requires.txt
!gradio.egg-info/PKG-INFO
*.pyc
staticfiles
.env
*.sqlite3
.idea/*
*.ipynb
.ipynb_checkpoints/*
models/*
.models/*
gradio_files/*
ngrok*
examples/ngrok*
gradio-flagged/*
.DS_Store
__pycache__/
*.py[cod]
*$py.class
demo/models/*
*.h5
docs.json
*.bak
demo/tmp.zip
demo/flagged
test.txt
build/
gradio/launches.json
gradio/frontend/static
workspace.code-workspace
*.db
demo/files/*.avi
demo/files/*.mp4
