[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"


[dev-packages]

