aiofiles
aiohttp
altair>=4.2.0
fastapi
ffmpy
gradio_client>=0.1.3
httpx
huggingface_hub>=0.13.0
Jinja2
markdown-it-py[linkify]>=2.0.0
pygments>=2.12.0
mdit-py-plugins<=0.3.3
markupsafe
matplotlib
numpy
orjson
pandas
pillow
pydantic
python-multipart
pydub
pyyaml
requests
semantic_version
typing_extensions
uvicorn
websockets>=10.0
