aiohttp
altair>=4.2.0
fastapi
ffmpy
markdown-it-py[linkify,plugins]>=2.0.0
markupsafe
matplotlib
numpy
orjson
pandas
pillow
pycryptodome
python-multipart
pydub
pyyaml
requests
uvicorn
Jinja2
fsspec
httpx
pydantic
websockets>=10.0
typing_extensions
aiofiles