aiohttp
h11<0.13,>=0.11
fastapi
ffmpy
markdown-it-py[linkify,plugins]
matplotlib
numpy
orjson
pandas
paramiko
pillow
pycryptodome
python-multipart
pydub
pyyaml
requests
uvicorn
Jinja2
fsspec
httpx
pydantic
websockets>=10.0
