@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    @apply font-semibold hover:text-blue-500 transition-colors;
}
.thin-link {
    @apply hover:text-blue-500 transition-colors;
}

/* index.html */
.preloaded-star-count {
    @apply text-gray-400;
}
.demotab:not(.selected) {
    @apply border-b;
}
.demotab.selected {
    @apply border border-b-0 rounded-t-lg font-semibold;
}
@media (min-width: 640px) {
    .demotab:not(.selected) {
        @apply border-t rounded-t-lg font-semibold;
    }    
    .demotab.selected {
        @apply font-semibold;
    }
}
.twitter-text a {
    @apply link;
}
.twitter-text s {
    text-decoration: none !important;
}
.twitter-text img {
    @apply h-4 inline-block;
}
.twitter-heart {
    background-image: url("assets/img/twitter/heart.svg");
}
.twitter-like:hover .twitter-heart {
    background-image: url("assets/img/twitter/redheart.svg");
}
