<!DOCTYPE html>
<html lang="en">
  <head>
    {% with description="Build & Share Delightful Machine Learning Apps" %}
      {% include "templates/meta.html" %}
    {% endwith %}
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/assets/prism.css">
  </head>
  <body>
    {% include "templates/navbar.html" %}
    <div class="container relative mx-auto px-4 pt-8 pb-12">
      {% if spaces %}
        <div id='spaces-holder' class="mb-4">
          <a href='https://hf.co/spaces' target='_blank'>
            <img class="inline-block my-0 mx-auto w-5 max-w-full pb-1" src='/assets/img/spaces-logo.svg'>
          </a>
          <p class="m-0 inline text-lg font-normal">Related Spaces: </p>

          {% for space in spaces %}
          <div class='space-link inline-block m-1 px-1 rounded-md'>
            <a href='{{space}}' target='_blank' class="no-underline">{{space[30:]}}</a>
          </div>
          {% endfor %}
          </div>
      {% endif %}
      <div class="prose max-w-full">
        {% include "guides/temporary_template.html" %}
      </div>
    </div>
    <script src="/assets/prism.js"></script>
    {% include 'templates/footer.html' %}
    <script>
      // adds anchor button when hovering over headers, except on touch devices where instead the header becomes a link

      function createAnchorTag(link) {
              let a = document.createElement('a');
              a.href = link;
              a.classList.add("invisible", "group-hover-visible");
              let img = document.createElement('img');
              img.classList.add("anchor-img")
              img.src = "/assets/img/anchor.svg";
              a.appendChild(img);
              return a;
          }
      function createMobileAnchorTag(link) {
              let a = document.createElement('a');
              a.href = link;
              a.classList.add("no-underline")
              return a;
          }

      var headers = document.querySelectorAll("h2, h3");

      function isTouchDevice() {
              return (('ontouchstart' in window) ||
                 (navigator.maxTouchPoints > 0) ||
                 (navigator.msMaxTouchPoints > 0));
            }

      if (isTouchDevice()) {
            for (let i = 0; i < headers.length; i++) {
              let link = '#' + headers[i].id;
              var parent = headers[i].parentNode;
              var wrapper = createMobileAnchorTag(link);
              parent.replaceChild(wrapper, headers[i]);
              wrapper.appendChild(headers[i]);
            }
      } else {
            for (let i = 0; i < headers.length; i++) {
              headers[i].classList.add("group")
              let link = '#' + headers[i].id;
              var anchorTag = createAnchorTag(link);
              headers[i].appendChild(createAnchorTag(link));
            }
      }

      // color related spaces

      const COLORS = ["bg-green-50", "bg-yellow-50", "bg-red-50", "bg-pink-50", "bg-purple-50"];

      document.querySelectorAll(".space-link").forEach(guide => {
        const color = COLORS[Math.floor(Math.random() * COLORS.length)]
        guide.classList.add(color);
      })

    </script>
  </body>
</html>
