@import "custom_preflight.scss";
@tailwind components;
@tailwind utilities;    

.gradio_bg {
    @apply flex flex-col;
}

.gradio_bg[is_embedded="false"] {
    @apply min-h-full;
}

.gradio_page {
    @apply container mx-auto flex flex-col box-border flex-grow;
    .title {
        @apply text-center p-4 text-4xl dark:text-gray-50;
    }
    .description {
        @apply pb-4 dark:text-gray-50;
    }
    .article {
        @apply pt-8 pb-4 max-w-none dark:text-gray-50;
    }
    .content {
        @apply pt-4 px-4 mb-4;
    }
    .api {
        @apply flex-shrink-0 inline-flex gap-1 items-center text-gray-400 dark:text-gray-50 justify-end py-2;
    }
    .logo {
        @apply h-6 inline-block;
    }
}
.gradio_bg[is_embedded="true"] .gradio_page {
    @apply rounded border-2 border-gray-100 shadow-lg;
    .footer {
        @apply bg-gray-100 p-4 rounded-b text-gray-700;
        a {
            @apply font-semibold;
        }
    }
}
.gradio_bg[is_embedded="false"] .gradio_page {
    @apply h-full;
    .content {
        @apply flex-grow flex-shrink-0 pt-4 px-4;
    }
    .footer {
        @apply flex-shrink-0 inline-flex gap-2.5 items-center text-gray-400 dark:text-gray-50 justify-center py-2;
    }
}

.login {
    @apply container mt-8;
    form {
        @apply mx-auto p-4 bg-gray-50 shadow-md w-1/2;
    }
    h2 {
        @apply text-2xl font-semibold my-2;
    }
    label {
        @apply block uppercase mt-4;
    }
    input {
        @apply p-2 block;
    }
    .submit {
        @apply bg-yellow-500 hover:bg-yellow-400 dark:hover:bg-yellow-600 transition px-4 py-2 rounded text-white font-semibold cursor-pointer mt-4;
    }
}

.gradio_bg[theme="default"] {
    @apply dark:bg-gray-500;
}


.gradio_bg[theme="default"] .gradio_interface {
    .loading {
        @apply dark:text-gray-50 absolute right-2 flex items-center gap-2;
    }
    .loading img {
        @apply h-5 ml-2 inline-block;
    }
    .panels {
        @apply flex flex-wrap justify-center gap-4;
    }
    .panels.unaligned {
        @apply flex-col sm:flex-row items-stretch sm:items-start
    }
    .panels.horizontal {
        @apply flex-col sm:flex-row items-stretch;
    }
    .panels.vertical {
        @apply flex-col items-stretch;
    }
    .panel {
        @apply flex-1;
    }
    .component_set {
        @apply bg-gray-50 dark:bg-gray-700 p-2 rounded flex flex-col flex-1 gap-2 dark:drop-shadow-xl;
        min-height: 36px;
    }
    .panel_header {
        @apply mb-1 uppercase text-sm font-semibold dark:text-gray-50;
    }
    .panel_button {
        @apply bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-50 flex-1 p-3 rounded transition font-semibold focus:outline-none;
    }
    .panel_button.disabled {
        @apply text-gray-400 cursor-not-allowed;
    }
    .panel_button.submit {
        @apply bg-yellow-500 hover:bg-yellow-400 text-white;
    }
    .panel_buttons {
        @apply flex gap-4 my-4;
    }
    .flag {
        @apply relative;
        .dropcontent {
            @apply hidden absolute top-8 left-0 bg-white border-gray-200 border-2 w-full;
            div {
                @apply p-2;
            }
            div:hover {
                @apply bg-gray-100;
            }
        }
    }
    .flag:hover:not(.disabled) {
        .dropcontent {
            @apply block;
        }
    }
    .screenshot_set {
        @apply hidden flex hidden flex-grow;
    }
    .panel_button.left_panel_button {
        @apply rounded-tr-none rounded-br-none;
    }
    .panel_button.right_panel_button {
        @apply rounded-tl-none rounded-bl-none bg-gray-200 hover:bg-gray-200;
    }
    .examples {
        h4 {
            @apply text-lg font-semibold my-2;
        }
        .examples_control_left {
            @apply flex gap-2;
        }
        .shortcut {
            @apply block text-xs;
        }
        .examples_control button {
            @apply bg-gray-100 hover:bg-gray-200 p-2;
        }
        .examples_table:not(.gallery) {
            @apply table-auto p-2 bg-gray-100 mt-4 rounded;
            tbody tr {
                @apply cursor-pointer;
            }
            thead {
                @apply border-b-2 border-gray-300;
            }
            tbody tr:hover {
                @apply bg-yellow-500 text-white;
            }
            tbody tr.selected {
                @apply font-bold;
            }
            td,
            th {
                @apply py-2 px-4;
            }
        }
        .examples_table.gallery {
            @apply block;
            tbody {
                @apply flex gap-2 flex-wrap ;
            }
            thead {
                @apply hidden;
            }
            tbody td:hover {
                @apply bg-yellow-500 text-white;
            }
            tbody tr.selected {
                @apply font-bold;
            }
            td {
                @apply cursor-pointer p-2 rounded bg-gray-100;
            }
        }
        .pages {
            @apply flex gap-1 items-center mt-2;
        }
        .page {
            @apply px-2 py-1 bg-gray-100 rounded;
        }
        .page.selected {
            @apply bg-gray-300;
        }    
    }
    /* Input Components */
    .input_text {
        textarea {
            @apply w-full bg-white border-gray-400 rounded box-border p-1 resize-none;
        }
        input {
            @apply w-full bg-white border-gray-400 rounded box-border p-1;
        }
        .interpretation {
            .interpretation_box {
                @apply inline-block whitespace-pre-wrap;
            }
        }
    }
    .input_number {
        input {
            @apply w-full bg-white border-gray-400 rounded box-border p-1;
        }
        .interpretation {
            @apply flex h-6;
            .interpretation_box {
                @apply flex-grow;
            }
        }
    }
    .input_image {
        @apply w-full h-80 relative;
        .upload_zone {
            @apply border-gray-300 text-gray-400 dark:border-gray-500 border-8 border-dashed w-full h-full flex justify-center items-center text-3xl text-center cursor-pointer leading-10;
        }
        .image_preview_holder {
            @apply w-full h-full flex justify-center items-center bg-gray-200 relative inline-block;
        }
        .edit_buttons {
            @apply absolute top-0 right-0;
            img {
                @apply h-4;
            }
        }
        .edit_button {
            @apply bg-yellow-500 bg-opacity-30 hover:bg-opacity-100 transition p-1;
        }
        .clear_button {
            @apply bg-gray-400 bg-opacity-30 hover:bg-opacity-100 transition p-1;
        }
        .image_editor {
            @apply fixed w-screen h-screen top-0 left-0 bg-black bg-opacity-50 z-40 flex flex-col justify-center items-center;
            .image_editor_buttons {
                width: 800px;
                @apply flex justify-end gap-1;
                button {
                    @apply px-2 py-1 text-xl bg-black text-white font-semibold rounded-t;
                }
            }
            .tui-image-editor-header-buttons {
                @apply hidden;
            }
            .tui-colorpicker-palette-button {
                width: 12px;
                height: 12px;
            }
        }
        .image_preview,
        video {
            @apply w-full h-full object-contain;
        }
        .sketch > div {
            @apply bg-white;
        }
        .snapshot {
            @apply absolute bottom-0 w-full bg-white bg-opacity-90 py-3 font-bold text-lg text-center;
        }
        .interpretation {
            @apply w-full h-full absolute top-0 left-0 flex justify-center items-center opacity-90 hover:opacity-20 transition;
        }
    }
    .input_image_example {
        @apply h-24;
    }
    .input_radio {
        @apply flex flex-wrap gap-2;
        .radio_item {
            @apply bg-gray-200 text-gray-700 py-2 px-4 font-semibold rounded cursor-pointer flex items-center gap-1;
        }
        .radio_item.selected {
            @apply bg-yellow-500 text-white;
        }
        .radio_circle {
            @apply w-4 h-4 bg-white rounded-full box-border;
        }
        .selected .radio_circle {
            @apply border-4 border-yellow-600;
        }
    }
    .input_checkbox_group {
        @apply flex flex-wrap gap-2;
        .checkbox_item {
            @apply bg-gray-200 text-gray-700 py-2 px-4 font-semibold rounded cursor-pointer flex items-center gap-1;
        }
        .checkbox_item.selected {
            @apply bg-yellow-500 text-white;
        }
        .checkbox {
            @apply w-4 h-4 bg-white;
            .check {
                @apply hidden;
            }
        }
        .selected .checkbox {
            @apply bg-yellow-600;
            .check {
                @apply block;
            }
        }
        .check line {
            stroke: white;
            stroke-width: 4;
            stroke-linecap: round;
        }
        .interpretation {
            @apply flex;
            .interpretation_box {
                @apply flex-grow h-4 w-4;
            }
            .interpret_check {
                @apply w-full h-full;
            }
            .interpret_check line {
                stroke: gray;
                stroke-width: 4;
                stroke-linecap: round;
            }
        }
    }
    .input_checkbox {
        @apply flex flex-wrap gap-2;
        .checkbox_item {
            @apply bg-gray-200 text-gray-700 py-2 px-4 font-semibold rounded cursor-pointer flex items-center gap-1;
        }
        .checkbox_item.selected {
            @apply bg-yellow-500 text-white;
        }
        .checkbox {
            @apply w-4 h-4 bg-white;
            .check {
                @apply hidden;
            }
        }
        .selected .checkbox {
            @apply bg-yellow-600;
            .check {
                @apply block;
            }
        }
        .check line {
            stroke: white;
            stroke-width: 4;
            stroke-linecap: round;
        }
        .interpretation {
            @apply flex;
            .interpretation_box {
                @apply flex-grow h-4 w-4;
            }
            .interpret_check {
                @apply w-full h-full;
            }
            .interpret_check line {
                stroke: gray;
                stroke-width: 4;
                stroke-linecap: round;
            }
        }
    }
    .input_dropdown {
        @apply inline-block relative;
        .selector {
            @apply bg-gray-200 text-gray-700 py-2 px-4 font-semibold rounded inline-flex items-center;
        }
        .caret {
            @apply ml-1 fill-current h-4 w-4;
        }
        .dropdown_menu {
            @apply absolute hidden text-gray-700 pt-1 max-h-80 overflow-y-auto z-10;
        }
        .dropdown_item:first-child {
            @apply rounded-t;
        }
        .dropdown_item {
            @apply bg-gray-200 hover:bg-gray-400 hover:text-gray-50 py-2 px-4 block whitespace-nowrap cursor-pointer;
        }
        .dropdown_item:last-child {
            @apply rounded-b;
        }
        :hover .dropdown_menu {
            @apply block;
        }
        .interpretation_box {
            @apply p-1;
        }
    }
    .input_slider {
        @apply text-center;
        .range {
            @apply w-full appearance-none bg-gray-200 hover:bg-gray-200 transition rounded h-4;
        }
        .range::-webkit-slider-thumb {
            -webkit-appearance: none;
            @apply appearance-none w-5 h-5 bg-yellow-500 rounded cursor-pointer;
        }
        .range::-moz-range-thumb {
            @apply appearance-none w-5 h-5 bg-yellow-500 rounded cursor-pointer;
        }
        .value {
            @apply text-gray-700 inline-block mx-auto mt-1 px-2 py-0.5 rounded;
        }
        .interpret_range {
            @apply flex h-6;
            div {
                @apply flex-grow;
            }
        }
    }
    .input_audio {
        .audio-react-recorder {
            @apply hidden;
        }
        .start {
            @apply bg-gray-200 p-2 rounded font-semibold;
        }
        .stop {
            @apply bg-red-200 text-red-500 p-2 rounded font-semibold;
        }
        audio {
            @apply w-full;
        }
        .edit_buttons {
            @apply flex justify-end;
            img {
                @apply h-4 dark:invert;
            }
        }
        .edit_button {
            @apply bg-yellow-500 bg-opacity-0 hover:bg-opacity-100 transition p-1;
        }
        .clear_button {
            @apply bg-gray-400 bg-opacity-0 hover:bg-opacity-100 transition p-1;
        }
        .interpret_range {
            @apply flex h-4;
            div {
                @apply flex-grow h-full;
            }
        }
    }
    .input_video {
        @apply w-full h-80 relative;
        .video_recorder {
            @apply w-full h-full bg-black;
        }
        .record_holder {
            @apply absolute left-1/2 bottom-4 -translate-x-1/2 -translate-y-1/2 text-center;
        }
        .record_message {
            @apply text-white font-bold mb-4;
        }
        .record {
            @apply w-12 h-12 rounded-full bg-red-500 hover:bg-red-600 border-4 border-red-600;
        }
        .upload_zone {
            @apply border-gray-300 text-gray-400 dark:border-gray-500 border-8 border-dashed w-full h-full flex justify-center items-center text-3xl text-center cursor-pointer leading-10;
        }
        .video_preview_holder {
            @apply w-full h-full flex justify-center items-center bg-gray-200;
        }
        .video_file_holder {
            @apply w-full h-full flex justify-center items-center text-6xl p-6 break-all;
        }
        .video_preview {
            @apply w-full h-full object-contain bg-black;
        }
        .edit_buttons {
            @apply z-10 absolute top-0 right-0;
            img {
                @apply h-4;
            }
        }
        .edit_button {
            @apply bg-yellow-500 bg-opacity-30 hover:bg-opacity-100 transition p-1;
        }
        .clear_button {
            @apply bg-gray-400 bg-opacity-30 hover:bg-opacity-100 transition p-1;
        }
    }
    .input_video_example {
        .video_holder {
            @apply h-36 object-contain flex justify-center;
        }
        .video_preview {
            @apply w-full;            
        }
    }
    .input_file {
        @apply w-full h-80;
        .upload_zone {
            @apply border-gray-300 text-gray-400 dark:border-gray-500 border-8 border-dashed w-full h-full flex justify-center items-center text-3xl text-center cursor-pointer leading-10;
        }
        .file_preview_holder {
            @apply dark:text-gray-50 w-full h-full flex flex-col justify-center items-center relative inline-block;
        }
        .file_name {
            @apply text-6xl p-6 break-all;
        }
        .file_size {
            @apply text-2xl p-2;
        }
        .clear_button {
            @apply absolute top-0 right-0 bg-gray-400 bg-opacity-0 hover:bg-opacity-100 transition p-1;
            img {
                @apply h-4 dark:invert;
            }
        }
    }
    .input_timeseries {
        @apply w-full h-96;
        .upload_zone {
            @apply border-gray-300 text-gray-400 dark:border-gray-500 border-8 border-dashed w-full h-full flex justify-center items-center text-3xl text-center cursor-pointer leading-10;
        }
        .file_preview_holder {
            @apply w-full h-full flex flex-col justify-center items-center relative inline-block;
        }
        .js-plotly-plot, .plotly.js-plotly-plot * {
            position: static !important;
        } 
    }
    /* Output Components */
    .output_text {
        word-break: break-word;
        @apply w-full bg-white border-gray-400 rounded box-border p-1 whitespace-pre-wrap;
    }
    .output_label {
        @apply dark:text-gray-50;
        .output_class, 
        .output_class_without_confidences {
            @apply font-bold text-2xl py-8 px-4 flex-grow flex items-center justify-center;
        }
        .confidence_intervals {
            @apply flex text-xl;
        }
        .labels {
            @apply mr-1;
        }
        .confidences {
            @apply flex flex-grow flex-col items-baseline;
        }
        .label {
            @apply overflow-hidden whitespace-nowrap h-7 mb-1 overflow-ellipsis text-right;
        }
        .confidence {
            @apply bg-gray-400 text-white flex justify-end overflow-hidden whitespace-nowrap h-7 mb-1 px-1;
        }
    }
    .output_image {
        @apply w-full h-80;
        .image_preview_holder {
            @apply w-full h-full flex justify-center items-center bg-gray-200 relative inline-block;
        }
        .image_preview,
        video {
            @apply w-full h-full object-contain;
        }
    }
    .output_audio {
        audio {
            @apply w-full;
        }
    }
    .output_highlightedtext {
        .category_legend {
            @apply flex flex-wrap gap-4 mb-2;
            .category-label {
                @apply flex gap-2;
            }
            .colorbox {
                @apply w-6;
            }
        }
    }
    .output_keyvalues {
        table {
            @apply bg-white;
            thead {
                @apply font-bold;
            }
            td,
            th {
                @apply p-2;
            }
        }
    }
    .output_video {
        @apply w-full h-80 object-contain flex justify-center;
        video {
            @apply h-full;
        }
        .video_file_holder {
            @apply w-full h-full flex justify-center items-center text-6xl p-6 break-all;
        }
    }
    .output_file {
        @apply w-full h-80 dark:text-gray-50;
        .file_display {
            @apply w-full h-full flex flex-col justify-center items-center relative;
        }
        .file_name {
            @apply text-6xl p-6 break-all;
        }
        .file_size {
            @apply text-2xl p-2;
        }
    }
    .output_dataframe {
        @apply dark:text-gray-50;
        table {
            thead {
                @apply font-bold border-gray-200 border-b-2;
            }
            th {
                @apply transition cursor-pointer;
            }
            th:hover {
                @apply bg-gray-200;
            }
            td,
            th {
                @apply px-4;
            }
        }
        .pages {
            @apply flex gap-1 items-center;
        }
        .page {
            @apply px-2 py-1 bg-gray-200;
        }
        .page.selected {
            @apply bg-gray-300;
        }
    }
    .output_carousel {
        @apply flex flex-col gap-2;
        .carousel_control {
            @apply flex gap-4 justify-center items-center my-1;
            .carousel_index {
                min-width: 60px;
                @apply text-xl text-center font-semibold;
            }
            button img {
                @apply h-3 mt-0.5;
            }
        }
    }
}
