.leftcolumn {
  width: 75%;
}
p a{
  color: #ed9013;
  font-weight: bold;
}

/* Add a card effect for articles */
body{
  background-color: #F5F5F5;
}
.card {
  background-color: white;
  padding: 10px 20px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

