#interfaces_text {
  margin-bottom: 0;
}
.inputs_set, .outputs_set {
  width: 50%;
  box-sizing: border-box;
  vertical-align: top; 
  display: inline-block;
}
.inputs_set {
  padding-right: 25px;
}

