#intro a, .summary_box a {
  color: #ed9013;
  font-weight: bold;
}
#hero-section {
  margin-top: 12px;
}
#hero-section > div {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 20px;
}
#intro {
  width: 30%;
  padding-right: 16px;
}
#demos {
  width: 70%;
}
#logo {
  height: 120px;
  display: block;
  margin: 0 auto 20px;
}
#demo-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#demo-nav button {
  font-weight: bold;
}
.demo-count {
  font-size: 9px;
}
#demo-code {
  margin-bottom: 10px;
}
#demo-code-label {
  padding: 4px;
  background-color: #F6F6F6;
}
#demo-code-label {
  display: inline-block;
  padding-right: 7px;
}
code {
  white-space: wrap;
  word-wrap: break-word;
}
#summaries {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 16px;
}
.summary_box {
  max-width: 300px;
  padding: 0 16px;
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
}
.summary_box h2 {
  color: #ed9013;
}
#setup {
  background-image: url("../img/run.png");
}
#present {
  background-image: url("../img/present.png");
}
#embed {
  background-image: url("../img/embed.png");
}

div.instructions{
  padding:10px 0px;
}
