body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0;
}
body > div, body > nav {
  margin-left: 60px;
  margin-right: 60px;
}
a {
  text-decoration: none;
  color: black;
}
p {
  line-height: 2em;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.selected {
  color: #ed9013;
}
a:hover, button:hover {
  color: #ed9013;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
nav img {
  margin-right: auto;
}
nav a {
  margin-left: 30px;
  padding: 5px 0px;
  font-weight: bold;
  font-size: 14px;
}
nav a.selected {
  border-bottom: solid 2px #ed9013;
}
.codeblock {
  background-color: #F6F6F6;
  line-height: 1.4em;
  padding: 4px;
}
code {
  background-color: #F6F6F6;
}
code .var {
  color: #c95532;
}
code .func {
  color: #ed9013;
}
code .comm {
  color: #888;
}
footer {
  background-color: #f6f6f6;
  text-align: center;
}
nav img, footer img {
  height: 24px;
  padding: 4px 0;
}
