@import "custom-preflight.scss";
@tailwind components;
@tailwind utilities; 

.login {
    @apply container mt-8;
    form {
        @apply mx-auto p-4 bg-gray-50 shadow-md w-1/2;
    }
    h2 {
        @apply text-2xl font-semibold my-2;
    }
    label {
        @apply block uppercase mt-4;
    }
    input {
        @apply p-2 block;
    }
    .submit {
        @apply bg-yellow-500 hover:bg-yellow-400 dark:hover:bg-yellow-600 transition px-4 py-2 rounded text-white font-semibold cursor-pointer mt-4;
    }
}