@tailwind base;
@tailwind components;
@tailwind utilities;

.example-tab {
    @apply px-2.5 py-0.5;
}

.active-example-tab {
    @apply border-orange-500 rounded-full text-orange-500 ring-1 bg-orange-50 ring-orange-200 hover:!text-orange-500 cursor-pointer shadow shadow-orange-200;
}

.btn-star {
    @apply cursor-pointer select-none inline-flex justify-center items-center whitespace-nowrap px-3 py-1 rounded-lg border bg-gradient-to-b focus:outline-none focus:ring text-gray-800 border-gray-200 from-white to-gray-100 hover:shadow-inner;
}

.link {
    @apply font-semibold hover:text-blue-500 transition-colors;
}
.thin-link {
    @apply hover:text-blue-500 transition-colors;
}
.group:hover .group-hover\:flex { /* for some reason, group-hover:flex not working on mobile */
    display: flex;
}
.group:active .group-active\:flex { /* for some reason, group-active:flex not working on mobile */
    display: flex;
}
@media (min-width: 640px) { /* for some reason, sm:block not working */
    .sm\:block {
        @apply block;
    }
}
@media (min-width: 768px) { /* for some reason, md:block not working */
    .md\:block {
        @apply block;
    }
}

/* index.html */
.preloaded-star-count {
    @apply text-gray-400;
}
@media (max-width: 639px) {
    .demotab {
        @apply border border-b-0;
    }
    .demotab:last-child {
        @apply border-b;
    }
    .demotab.selected {
        @apply font-semibold;
    }
    .demotab:not(.selected) {
        @apply text-gray-500;
    }    
}
@media (min-width: 640px) {
    .demotab:not(.selected) {
        @apply border-b;
    }    
    .demotab.selected {
        @apply border border-b-0 rounded-t-lg font-semibold;
    }
}
.twitter-text a {
    @apply link;
}
.twitter-text s {
    text-decoration: none !important;
}
.twitter-text img {
    @apply h-4 inline-block;
}
.twitter-heart {
    background-image: url("assets/img/twitter/heart.svg");
}
.twitter-like:hover .twitter-heart {
    background-image: url("assets/img/twitter/redheart.svg");
}

@layer base {
  a.text-link {
    @apply font-semibold text-gray-800 underline decoration-orange-500 underline-offset-2 hover:text-orange-500;
  }
}

@layer utilities {
  @variants hover, focus {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
    .shadow-alternate-sm {
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03), 0px 2px 2px rgba(0, 0, 0, 0.03),
        0px 0px 1px rgba(0, 0, 0, 0.03);
    }
    .shadow-alternate {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
    }
    .shadow-alternate-xl {
      box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
        0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    }
  }
}
