.cell-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	outline: none;
	min-height: var(--size-9);
	position: relative;
	height: 100%;
	padding: var(--size-2);
	box-sizing: border-box;
	margin: 0;
	gap: var(--size-1);
	overflow: visible;
	min-width: 0;
	border-radius: var(--table-radius);
}

.header-content {
	display: flex;
	align-items: center;
	overflow: hidden;
	flex-grow: 1;
	min-width: 0;
	white-space: normal;
	overflow-wrap: break-word;
	word-break: normal;
	height: 100%;
	gap: var(--size-1);
}

.header-button {
	text-align: left;
	width: 100%;
}

.sort-buttons {
	order: -1;
}

th,
td {
	--ring-color: transparent;
	position: relative;
	outline: none;
	box-shadow: inset 0 0 0 1px var(--ring-color);
	padding: 0;
}

th:first-child {
	border-top-left-radius: var(--table-radius);
	border-bottom-left-radius: var(--table-radius);
}

th:last-child {
	border-top-right-radius: var(--table-radius);
	border-bottom-right-radius: var(--table-radius);
}

th.focus,
td.focus {
	--ring-color: var(--color-accent);
	box-shadow: inset 0 0 0 2px var(--ring-color);
	z-index: var(--layer-1);
}

th.focus {
	z-index: var(--layer-2);
}

tr:last-child td:first-child {
	border-bottom-left-radius: var(--table-radius);
}

tr:last-child td:last-child {
	border-bottom-right-radius: var(--table-radius);
}

.cell-menu-button {
	flex-shrink: 0;
	display: none;
	background-color: var(--block-background-fill);
	border: 1px solid var(--border-color-primary);
	border-radius: var(--block-radius);
	width: var(--size-5);
	height: var(--size-5);
	min-width: var(--size-5);
	padding: 0;
	margin-right: var(--spacing-sm);
	z-index: var(--layer-1);
	position: absolute;
	right: var(--size-1);
	top: 50%;
	transform: translateY(-50%);
}

.cell-selected .cell-menu-button,
th:hover .cell-menu-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cell-selected {
	--ring-color: var(--color-accent);
	box-shadow: inset 0 0 0 2px var(--ring-color);
	z-index: var(--layer-1);
	position: relative;
}

.flash.cell-selected {
	animation: flash-color 700ms ease-out;
}

@keyframes flash-color {
	0%,
	30% {
		background: var(--color-accent-copied);
	}

	100% {
		background: transparent;
	}
} 