.dragging {
	border-color: var(--color-accent);
}

.no-wrap {
	white-space: nowrap;
}

div:not(.no-wrap) td {
	overflow-wrap: anywhere;
}

div.no-wrap td {
	overflow-x: hidden;
}

.editing {
	background: var(--table-editing);
}

.row_odd {
	background: var(--table-odd-background-fill);
}

.row_odd.focus {
	background: var(--background-fill-primary);
}

.header-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--size-2);
	min-height: var(--size-6);
	flex-wrap: nowrap;
	width: 100%;
}

.label {
	flex: 1 1 auto;
	margin-right: auto;
}

.label p {
	margin: 0;
	color: var(--block-label-text-color);
	font-size: var(--block-label-text-size);
	line-height: var(--line-sm);
	position: relative;
	z-index: var(--layer-4);
	margin-bottom: var(--size-2);
}

.toolbar {
	flex: 0 0 auto;
}

.frozen-column {
	position: sticky;
	z-index: var(--layer-2);
	border-right: 1px solid var(--border-color-primary);
	z-index: var(--layer-3);
}

tr:nth-child(odd) .frozen-column {
	background: var(--table-odd-background-fill);
}

tr:nth-child(even) .frozen-column {
	background: var(--table-even-background-fill);
}

.always-frozen {
	z-index: var(--layer-3);
}

.add-row-container {
	margin-top: var(--size-2);
}

.add-row-button {
	width: 100%;
	padding: var(--size-1);
	background: transparent;
	border: 1px dashed var(--border-color-primary);
	border-radius: var(--radius-sm);
	color: var(--body-text-color);
	cursor: pointer;
	transition: all 150ms;
}

.add-row-button:hover {
	background: var(--background-fill-secondary);
	border-style: solid;
}

.scroll-top-button {
	position: absolute;
	right: var(--size-4);
	bottom: var(--size-4);
	width: var(--size-8);
	height: var(--size-8);
	border-radius: var(--table-radius);
	background: var(--color-accent);
	color: white;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--text-lg);
	z-index: var(--layer-5);
	opacity: 0.5;
}

.scroll-top-button:hover {
	opacity: 1;
} 