**/*.md
**/js/app/public/**
**/pnpm-workspace.yaml
**/js/app/dist/**
**/js/wasm/dist/**
**/js/preview/dist/**
**/client/js/dist/**
**/js/*/dist/**
**/pnpm-lock.yaml
**/js/plot/src/Plot.svelte
**/.svelte-kit/**
**/demo/**
**/gradio/**
**/.pnpm-store/**
**/.venv/**

/guides/**
**/.mypy_cache/**
!test-strategy.md
**/js/_space-test/**
../js/lite/src/theme.css
../js/storybook/theme.css
**/gradio_cached_examples/**
**/storybook-static/**
**/.vscode/**
sweep.yaml
**/.vercel/**
**/build/**
**/src/lib/json/**/*
**/playwright/.cache/**/*
**/theme/src/pollen.css
**/venv/**
../js/app/src/api_docs/CodeSnippet.svelte
../js/app/src/api_docs/RecordingSnippet.svelte
../.changeset/pre.json
