**/js/app/public/**
**/pnpm-workspace.yaml
**/js/app/dist/**
**/client/js/dist/**
**/wasm/dist/**
**/lite/dist/**
**/pnpm-lock.yaml
**/js/plot/src/Plot.svelte
**/.svelte-kit/**
**/demo/**
**/gradio/**
**/website/**
**/.venv/**
**/.github/**
**/guides/**
**/.mypy_cache/**
**/*.md
**/js/_space-test/**
js/app/test/gradio_cached_examples/**
