**/js/app/public/**
**/pnpm-workspace.yaml
**/js/app/dist/**
**/pnpm-lock.yaml
**/js/plot/src/Plot.svelte
**/.svelte-kit/**
**/demo/**
**/gradio/**
**/website/**
**/venv/**
**/.github/**
**/guides/**
**/test/**
**/.mypy_cache/**
**/*.md
