<link rel="stylesheet" href="../css/dropzone.css">
<div class="col-6">
	<h5>Image Upload Input:</h5>
	<div id="dropzone">
	    <form action="" class="dropzone dz-clickable" id="image_upload_input">
	        <div class="dz-message">Drop files here or click to upload.</div>
	    </form>
	</div>
  <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" id="submit-button">Submit</button>
  <button type="button" class="btn btn-secondary" id="clear-button">Clear</button>
  </div>
</div>
<script src="../js/dropzone.js"></script>
<script src="../js/image-upload-input.js"></script>
