<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gradio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/gradio.css">
    <script src="../static/js/all-io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <img src="../static/img/logo_inline.png" />
    </nav>
    <div id="panels">
      <div class="panel">
        <div id="input"></div>
        <input class="submit" type="submit" value="Submit"/><!--DO NOT DELETE
     --><input class="clear" type="reset" value="Clear">
      </div>   
      <div class="panel">
        <div id="output"></div>
      </div>   
    </div>   
  </body>
</html>
