<div class="gradio input image_file">
  <div class="role">Input</div>
  <div class="input_image drop_mode">
    <div class="input_caption">Drop Image Here<br>- or -<br>Click to Upload</div>
    <img />
  </div>
  <input class="hidden_upload" type="file" accept="image/x-png,image/gif,image/jpeg" />
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js" type="module"></script>
<script src="../static/js/image-upload-input.js"></script>
