body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
button, input[type="submit"], input[type="reset"], input[type="text"], input[type="button"], select[type="submit"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  -webkit-appearance: none;
  border-radius: 0;
}

.loading_time {
  font-size: large;
  color: #EEA45D;
  text-align: right;
  padding-top: 5px;
}

nav {
  text-align: center;
  padding: 16px 0 4px;
}
nav img {
  margin-right: auto;
  height: 32px;
}
#share {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}
#share-copy {
  background-color: whitesmoke;
  padding: 4px;
  border-radius: 2px;
}
#title {
  text-align: center;
}
.container {
  max-width: 1028px;
  width: 100%;
  margin: 0 auto;  
}
.panels {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
button.primary {
  color: white;
  background-color: #EEA45D;
}
button.secondary {
  color: black;
  background-color: #F6F6F6;
}
#featured_history {
  margin: 4px 30px;
}
#featured_table {
  border-collapse: collapse;
  border: solid 2px whitesmoke;
  margin-bottom: 20px;
  table-layout: fixed;
}
#featured_table div {
  display: inline-block;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  max-width: 200px;
  max-height: 100px;
  overflow-y: auto;
}
#featured_table div:nth-child(even) {
  background-color: whitesmoke;
}
#featured_table div:hover {
  background-color: #EEA45D;
}
#featured_history img {
  height: 60px;
}
#examples table {
  border-collapse: collapse;
  font-family: monospace;
  padding: 8px;
  background-color: whitesmoke;
  border-right: solid 4px whitesmoke;
  border-left: solid 4px whitesmoke;
}
#examples th {
  padding: 8px;
  text-align: left;
  font-size: 18px;
}
#examples td {
  padding: 8px;
  cursor: pointer;
}

#examples tbody tr:nth-child(odd) {
  background-color: white;
}
#examples tbody tr:hover {
  background-color: lightgray;
}