.highlight .hll {
	background-color: #ffffcc;
}
.highlight .c {
	color: #0099ff;
	font-style: italic;
} /* Comment */
.highlight .err {
	background-color: #ffaaaa;
	color: #aa0000;
} /* Error */
.highlight .k {
	color: #006699;
	font-weight: bold;
} /* Keyword */
.highlight .o {
	color: #555555;
} /* Operator */
.highlight .ch {
	color: #0099ff;
	font-style: italic;
} /* Comment.Hashbang */
.highlight .cm {
	color: #0099ff;
	font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
	color: #009999;
} /* Comment.Preproc */
.highlight .cpf {
	color: #0099ff;
	font-style: italic;
} /* Comment.PreprocFile */
.highlight .c1 {
	color: #0099ff;
	font-style: italic;
} /* Comment.Single */
.highlight .cs {
	color: #0099ff;
	font-style: italic;
	font-weight: bold;
} /* Comment.Special */
.highlight .gd {
	border: 1px solid #cc0000;
	background-color: #ffcccc;
} /* Generic.Deleted */
.highlight .ge {
	font-style: italic;
} /* Generic.Emph */
.highlight .gr {
	color: #ff0000;
} /* Generic.Error */
.highlight .gh {
	color: #003300;
	font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
	border: 1px solid #00cc00;
	background-color: #ccffcc;
} /* Generic.Inserted */
.highlight .go {
	color: #aaaaaa;
} /* Generic.Output */
.highlight .gp {
	color: #000099;
	font-weight: bold;
} /* Generic.Prompt */
.highlight .gs {
	font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
	color: #003300;
	font-weight: bold;
} /* Generic.Subheading */
.highlight .gt {
	color: #99cc66;
} /* Generic.Traceback */
.highlight .kc {
	color: #006699;
	font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
	color: #006699;
	font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
	color: #006699;
	font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
	color: #006699;
} /* Keyword.Pseudo */
.highlight .kr {
	color: #006699;
	font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
	color: #007788;
	font-weight: bold;
} /* Keyword.Type */
.highlight .m {
	color: #ff6600;
} /* Literal.Number */
.highlight .s {
	color: #cc3300;
} /* Literal.String */
.highlight .na {
	color: #330099;
} /* Name.Attribute */
.highlight .nb {
	color: #336666;
} /* Name.Builtin */
.highlight .nc {
	color: #00aa88;
	font-weight: bold;
} /* Name.Class */
.highlight .no {
	color: #336600;
} /* Name.Constant */
.highlight .nd {
	color: #9999ff;
} /* Name.Decorator */
.highlight .ni {
	color: #999999;
	font-weight: bold;
} /* Name.Entity */
.highlight .ne {
	color: #cc0000;
	font-weight: bold;
} /* Name.Exception */
.highlight .nf {
	color: #cc00ff;
} /* Name.Function */
.highlight .nl {
	color: #9999ff;
} /* Name.Label */
.highlight .nn {
	color: #00ccff;
	font-weight: bold;
} /* Name.Namespace */
.highlight .nt {
	color: #330099;
	font-weight: bold;
} /* Name.Tag */
.highlight .nv {
	color: #003333;
} /* Name.Variable */
.highlight .ow {
	color: #000000;
	font-weight: bold;
} /* Operator.Word */
.highlight .w {
	color: #bbbbbb;
} /* Text.Whitespace */
.highlight .mb {
	color: #ff6600;
} /* Literal.Number.Bin */
.highlight .mf {
	color: #ff6600;
} /* Literal.Number.Float */
.highlight .mh {
	color: #ff6600;
} /* Literal.Number.Hex */
.highlight .mi {
	color: #ff6600;
} /* Literal.Number.Integer */
.highlight .mo {
	color: #ff6600;
} /* Literal.Number.Oct */
.highlight .sa {
	color: #cc3300;
} /* Literal.String.Affix */
.highlight .sb {
	color: #cc3300;
} /* Literal.String.Backtick */
.highlight .sc {
	color: #cc3300;
} /* Literal.String.Char */
.highlight .dl {
	color: #cc3300;
} /* Literal.String.Delimiter */
.highlight .sd {
	color: #cc3300;
	font-style: italic;
} /* Literal.String.Doc */
.highlight .s2 {
	color: #cc3300;
} /* Literal.String.Double */
.highlight .se {
	color: #cc3300;
	font-weight: bold;
} /* Literal.String.Escape */
.highlight .sh {
	color: #cc3300;
} /* Literal.String.Heredoc */
.highlight .si {
	color: #aa0000;
} /* Literal.String.Interpol */
.highlight .sx {
	color: #cc3300;
} /* Literal.String.Other */
.highlight .sr {
	color: #33aaaa;
} /* Literal.String.Regex */
.highlight .s1 {
	color: #cc3300;
} /* Literal.String.Single */
.highlight .ss {
	color: #ffcc33;
} /* Literal.String.Symbol */
.highlight .bp {
	color: #336666;
} /* Name.Builtin.Pseudo */
.highlight .fm {
	color: #cc00ff;
} /* Name.Function.Magic */
.highlight .vc {
	color: #003333;
} /* Name.Variable.Class */
.highlight .vg {
	color: #003333;
} /* Name.Variable.Global */
.highlight .vi {
	color: #003333;
} /* Name.Variable.Instance */
.highlight .vm {
	color: #003333;
} /* Name.Variable.Magic */
.highlight .il {
	color: #ff6600;
} /* Literal.Number.Integer.Long */
