.output-markdown .math.inline {
	display: inline-block;
	vertical-align: middle;
	padding: var(--size-1-5) -var(--size-1);
}

.dark .output-markdown .math.inline {
	filter: invert(100%);
}

.output-markdown .math.inline svg {
	display: inline;
}
