name: 'Chromatic'

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: pnpm
      - name: Generate theme.css
        run: python scripts/generate_theme.py
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}