name: "website-build"

on:
  workflow_run:
    workflows: ["docs-deploy"]
    types:
      - completed

env:
  CI: true
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: "1"
  NODE_OPTIONS: "--max-old-space-size=4096"

concurrency:
  group: "${{ github.event.workflow_run.head_repository.full_name }}-${{ github.event.workflow_run.head_branch }}-${{ github.workflow_ref }}"
  cancel-in-progress: true

jobs:
  changes:
    name: "changes"
    runs-on: ubuntu-latest
    outputs:
      should_run: ${{ steps.changes.outputs.should_run }}
      sha: ${{ steps.changes.outputs.sha }}
      gradio_version: ${{ steps.changes.outputs.gradio_version }}
      source_repo: ${{ steps.changes.outputs.source_repo }}
      source_branch: ${{ steps.changes.outputs.source_branch }}
    steps:
      - uses: actions/checkout@v4
      - uses: "gradio-app/gradio/.github/actions/changes@main"
        id: changes
        with:
          filter: "website"
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v4
        with:
          path: output.json
          name: changes
  build:
    name: "website-build"
    runs-on: ubuntu-22.04
    needs: changes
    if: needs.changes.outputs.should_run == 'true' || (github.ref_name == 'main' && github.repository == 'gradio-app/gradio')
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.changes.outputs.source_branch }}
          repository: ${{ needs.changes.outputs.source_repo }}
      - name: install dependencies
        uses: "gradio-app/gradio/.github/actions/install-all-deps@main"
        with:
          always_install_pnpm: true
          skip_build: true
      - name: build client
        run: pnpm --filter @gradio/client build

      - name: build website
        run: VERCEL=1 pnpm --filter website build

      - name: upload website artifacts
        uses: actions/upload-artifact@v4
        with:
          name: website
          path: js/_website/.vercel
